.deleteButton {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 3px;
  background-color: rgb(241, 77, 77);
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: rgb(189, 27, 27);
}

.contactField {
  width: 100%;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}
